header{
    background: white;
}
section1 ul{
    border-bottom: thistle;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
section1 li{
    display: inline;
    margin: right;
}
body{
    background-color: lightgrey;
}
